@import "../../../../../variables.scss";

.cat-breeds-list-content {
  position: relative;
  padding-top: 20px;
  .img-cat {
    width: 300px;
    height: 300px;
    cursor: pointer;
    
  }
  .btn-detail {
    position: absolute;
    left: 10px;
    cursor: pointer;
  }
}