<div class="cat-breeds-detail-content container row">
    <div class="description col-md-8">
        <div class="item">
            <span class="label">Id: </span>{{breed?.id}}
        </div>
        <div class="item">
            <span class="label">Name: </span>{{breed?.name}}    
        </div>
        <div class="item">
            <span class="label">cfa_url: </span>{{breed?.cfa_url}}
        </div>
        <div class="item">
            <span class="label">vetstreet_url: </span>{{breed?.vetstreet_url}}
        </div>
        <div class="item">
            <span class="label">temperament:</span> {{breed?.temperament}}
            
        </div>
        <div class="item">
            <span class="label">origin: </span>{{breed?.origin}}
        </div>
        <div class="item">
            <span class="label">country_codes: </span>{{breed?.country_codes}}
        </div>
        <div class="item">
            <span class="label">country_codes: </span>
        </div>
        <div class="item">
            <span class="label">description: </span>{{breed?.description}}
        </div>
        <div class="item">
            <span class="label">life_span: </span>{{breed?.life_span}}
        </div>
        <div class="item">
            <span class="label">indoor: </span>{{breed?.indoor}}
        </div>
        <div class="item">
            <span class="label">lap: </span>{{breed?.lap}}
        </div>
        <div class="item">
            <span class="label">alt_names: </span>{{breed?.alt_names}}
        </div>
        <div class="item">
            <span class="label">adaptability: </span>{{breed?.adaptability}}
        </div>
        <div class="item">
            <span class="label">affection_level: </span>{{breed?.affection_level}}
        </div>
        <div class="item">
            <span class="label">child_friendly: </span>{{breed?.child_friendly}}
        </div>
        <div class="item">
            <span class="label">dog_friendly: </span>
            <div>{{breed?.dog_friendly}}</div>
        </div>
        <div class="item">
            <span class="label">energy_level: </span>{{breed?.energy_level}}
        </div>
        <div class="item">
            <span class="label">grooming: </span>{{breed?.grooming}}
        </div>
        <div class="item">
            <span class="label">health_issues: </span>{{breed?.health_issues}}
        </div>
        <div class="item">
            <span class="label">intelligence: </span>
            <div>{{breed?.intelligence}}</div>
        </div>
        <div class="item">
            <span class="label">shedding_level: </span>{{breed?.shedding_level}}
        </div>
        <div class="item">
            <span class="label">social_needs: </span>{{breed?.social_needs}}
        </div>
        <div class="item">
            <span class="label">stranger_friendly: </span>{{breed?.stranger_friendly}}
        </div>
        <div class="item">
            <span class="label">vocalisation: </span>{{breed?.vocalisation}}
        </div>
        <div class="item">
            <span class="label">experimental: </span>{{breed?.experimental}}
        </div>
        <div class="item">
            <span class="label">hairless: </span>{{breed?.hairless}}
        </div>
        <div class="item">
            <span class="label">natural: </span>{{breed?.natural}}
        </div>
        <div class="item">
            <span class="label">rare: </span>{{breed?.rare}}
        </div>
        <div class="item">
            <span class="label">rex: </span>{{breed?.rex}}
        </div>
        <div class="item">
            <span class="label">suppressed_tail: </span>{{breed?.suppressed_tail}}
        </div>
        <div class="item">
            <span class="label">short_legs: </span>{{breed?.short_legs}}
        </div>
        <div class="item">
            <span class="label">wikipedia_url: </span><a href="{{breed?.wikipedia_url}}" target="_blank">{{breed?.wikipedia_url}}</a>
        </div>
        <div class="item">
            <span class="label">hypoallergenic: </span>{{breed?.hypoallergenic}}
            <div></div>
        </div>
        <div class="item">
            <span class="label">reference_image_id: </span>{{breed?.reference_image_id}}
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="img" alt="" [src]="imgBreed">
    </div>
</div>